.content{
    .mainContent{
        .profile-header{
            margin-bottom: 30px;
            .main-photo{
                padding-left: 0;
                padding-left: 0;
                flex-grow: 0;
                img{
                    border: 5px solid #c3c3c3;
                    border-radius: 5px;
                    width: 150px;
                }
            }
            .name{
                position: relative;
                h2{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    margin-bottom: 0;
                }
            }
            .btn-friend
            {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        .user-menu
        {
            ul
            {
                list-style: none;
                display: table-row;
                width: 100%;
                padding: 0;
                color: #fff;
                background: #007bff;
                border-radius: 10px;
                margin-bottom: 15px;
                li{
                    display: table-cell;
                    height: 50px;
                    width: 100px;
                    padding: 10px 5px;
                    text-align: center;
                    vertical-align: middle;
                    &:first-of-type{
                        padding-left: 10px;
                        padding-right: 5px;
                    }
                    &:last-of-type{
                        padding-left: 5px;
                        padding-right: 10px;
                    }
                    span{
                        display: block;
                        padding: 5px 0;
                        &:hover{
                            cursor: pointer;
                            background: #0069d9;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}